
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Role Management</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Role Name:</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>
                <a href="#">Detail</a>|
                <a href="#">Edit</a>|
                <a href="#">Delete</a>
            </td>
        </tr>
    </tbody>

</table>